{% extends 'parts/base.twig' %}

{% block body %}
    <h1>Home</h1>
    {% if user is not null %}
        <p>Hi {{ user.username|escape }} {{ user.login|escape }} {{ user.email|escape }}</p>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
{% endblock %}