{% extends 'parts/base.twig' %}

{% block body %}

    <h1>Register</h1>

    {% if message is not null %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="/register-post" method="post">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" name="username" class="form-control" id="username" value="{{ form ? form.username }}" />
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" name="login" class="form-control" id="login" value="{{ form ? form.login }}" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" value="{{ form ? form.email }}" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" />
        </div>
        <div class="form-group">
            <label for="password_confirm">Password confirm</label>
            <input type="password" name="password_confirm" class="form-control" id="password_confirm" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Register</button>
    </form>

{% endblock %}